@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.header-container{
    max-width: 1600px;
    margin: 0 auto;
   background-image: url("/images/banner/banner1.png");
   background-repeat: no-repeat;
   display: flex;
   justify-content: end;
}

.header-details{
    max-width: 525px;
    margin:230px 230px 364px 864px;
    
}
.header-details h1{
    text-align: end;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.header-details p{
    max-width: 500px;
    color: #444343;
    font-size: 1rem;
    font-weight: 200;
    padding-bottom: 20px;
    text-align: end;
    line-height: 1.5rem;
}
.btn{
    padding: 21px 25px 20px 26px;
    border-radius: 5px;
    border: none;
    background-color: #F15B22;
    color: #FFFFFF;
    font-weight: 500;
    
}
.button-div{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

@media screen and (max-width:576px) {
    .header-container{
        background-image: none;
    }
    .header-details{
        margin: 0;
        margin-top: 50px;
        
    }
    .header-details h1{
        text-align: start;
        padding-left: 10px;
        
    }
    .header-details p{
        text-align: start;
        padding: 10px;
    }
    .button-div{
        justify-content: flex-start;
        padding: 10px;
        margin-top: 10px;
    }
}